In [1]:
import pandas as pd

syn = pd.read_csv('/Users/rose/omop-mapper/data/omop-cdm/CONCEPT_SYNONYM.csv', sep='\t')
syn.head()

,concept_id,concept_synonym_name,language_concept_id
0,3019950,CELL MARKERS; Immune globulin A; Immunoglobuli...,4180186
1,3019950,Lymphs IgA/lymph NFr Spec,4180186
2,3019951,Finding; Findings; nursing; Ordinal; Point in ...,4180186
3,3019955,pCO2 Bld Postductal TcCo2,4180186
4,3019955,Bld Postductal; Bld.foot; BldA.foot; Blood; Ca...,4180186

In [14]:
len(syn)

3513971

In [7]:
concept = pd.read_csv('/Users/rose/omop-mapper/data/omop-cdm/CONCEPT.csv', sep='\t')
concept.head()

/var/folders/km/l4y95bgj6lv844p6y3h17gcc0000gn/T/ipykernel_87280/1330958299.py:1: DtypeWarning: Columns (5,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  concept = pd.read_csv('/Users/rose/omop-mapper/data/omop-cdm/CONCEPT.csv', sep='\t')

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,45756805,Pediatric Cardiology,Provider,ABMS,Physician Specialty,S,OMOP4821938,19700101,20991231,NaN
1,45756804,Pediatric Anesthesiology,Provider,ABMS,Physician Specialty,S,OMOP4821939,19700101,20991231,NaN
2,45756803,Pathology-Anatomic / Pathology-Clinical,Provider,ABMS,Physician Specialty,S,OMOP4821940,19700101,20991231,NaN
3,45756802,Pathology - Pediatric,Provider,ABMS,Physician Specialty,S,OMOP4821941,19700101,20991231,NaN
4,45756801,Pathology - Molecular Genetic,Provider,ABMS,Physician Specialty,S,OMOP4821942,19700101,20991231,NaN

In [15]:
len(concept)

9922358

In [10]:
concept[concept['concept_id'] == 3019955]

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
1907050,3019955,Carbon dioxide [Partial pressure] in Blood Pos...,Measurement,LOINC,Clinical Observation,S,19886-1,19700101,20991231,NaN

In [4]:
syn[syn['language_concept_id'] == 4175771]

,concept_id,concept_synonym_name,language_concept_id
234166,42014840,유천동,4175771
234167,42015643,방배3동,4175771
234168,42015712,묵1동,4175771
234169,42015956,관저2동,4175771
234170,42016445,서초1동,4175771
...,...,...,...
3877874,19646074,보란건조살무사항독소주(건조살무사항독소)_(6000unit/1병),4175771
3877875,42303466,"상급종합병원-6등급간호관리료적용 신생아중환자실입원료,오전0-6시입원 적응증 외 신생아",4175771
3877876,42296734,"상악골신장술(Le Fort III),야간 제2의수술",4175771
3877877,42157092,"상악골신장술(Le Fort III),공휴일 재수술(주된수술)",4175771
3894374,32732,요양병원 호스피스 정액,4175771

In [13]:
syn['language_concept_id'].unique()

array([4180186])

In [12]:
syn = syn[syn['language_concept_id'].isin([4180186])]
syn

,concept_id,concept_synonym_name,language_concept_id
0,3019950,CELL MARKERS; Immune globulin A; Immunoglobuli...,4180186
1,3019950,Lymphs IgA/lymph NFr Spec,4180186
2,3019951,Finding; Findings; nursing; Ordinal; Point in ...,4180186
3,3019955,pCO2 Bld Postductal TcCo2,4180186
4,3019955,Bld Postductal; Bld.foot; BldA.foot; Blood; Ca...,4180186
...,...,...,...
3940024,3019924,E chaffeensis Ab Ser-aCnc,4180186
3940025,3019929,Androsterone 24h Ur-sRate,4180186
3940026,3019929,1 day; 24 hours; 24HR; Androster; Chemistry; Q...,4180186
3940027,3019939,Arm; c; Contr; Contra; Contrst; Document; Elbo...,4180186
3940028,3019939,MR Elbow-L WO+W contr IV,4180186

In [5]:
syn.to_csv('/home/work/skku/hyo/MapOMOP/data/CONCEPT_SYNONYM.csv', sep='\t', index=False)

## Join

In [21]:
import pandas as pd

# 1. 데이터 로드 (타입 안정성 확보)
concept = pd.read_csv('/Users/rose/omop-mapper/data/omop-cdm/CONCEPT.csv', sep='\t', low_memory=False)
syn = pd.read_csv('/Users/rose/omop-mapper/data/omop-cdm/CONCEPT_SYNONYM.csv', sep='\t', low_memory=False)
syn = syn[syn['language_concept_id'].isin([4180186])]

# ID 타입을 정수로 통일
concept['concept_id'] = concept['concept_id'].astype(int)
syn['concept_id'] = syn['concept_id'].astype(int)

# 2. 원본 데이터 구분자 추가
concept['name_type'] = 'Original'

# 3. 룩업 테이블 생성 (에러 수정 지점)
# concept_id, concept_name, name_type을 '제외'한 나머지 컬럼만 추출합니다.
target_cols = [c for c in concept.columns if c not in ['concept_id', 'concept_name', 'name_type']]

# concept_id를 인덱스로 잡고, 나머지 메타데이터 컬럼들만 보존합니다.
concept_lookup = concept.drop_duplicates('concept_id').set_index('concept_id')[target_cols]

# 4. 동의어 행 생성 및 메타데이터 결합
syn_rows = syn[['concept_id', 'concept_synonym_name']].copy()
syn_rows.rename(columns={'concept_synonym_name': 'concept_name'}, inplace=True)
syn_rows['name_type'] = 'Synonym'

# 5. join을 통해 메타데이터 병합
# syn_rows의 concept_id와 concept_lookup의 index(concept_id)를 매칭합니다.
syn_rows = syn_rows.join(concept_lookup, on='concept_id')

# 6. 최종 합치기 및 확인
final_df = pd.concat([concept, syn_rows], ignore_index=True)

# 잘 들어갔는지 특정 ID로 테스트 (예: 45756805)
print(final_df[final_df['concept_id'] == 45756805])

   concept_id          concept_name domain_id vocabulary_id  \
0    45756805  Pediatric Cardiology  Provider          ABMS

      concept_class_id standard_concept concept_code  valid_start_date  \
0  Physician Specialty                S  OMOP4821938          19700101

   valid_end_date invalid_reason name_type
0        20991231            NaN  Original

In [22]:
final_df

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason,name_type
0,45756805,Pediatric Cardiology,Provider,ABMS,Physician Specialty,S,OMOP4821938,19700101,20991231,NaN,Original
1,45756804,Pediatric Anesthesiology,Provider,ABMS,Physician Specialty,S,OMOP4821939,19700101,20991231,NaN,Original
2,45756803,Pathology-Anatomic / Pathology-Clinical,Provider,ABMS,Physician Specialty,S,OMOP4821940,19700101,20991231,NaN,Original
3,45756802,Pathology - Pediatric,Provider,ABMS,Physician Specialty,S,OMOP4821941,19700101,20991231,NaN,Original
4,45756801,Pathology - Molecular Genetic,Provider,ABMS,Physician Specialty,S,OMOP4821942,19700101,20991231,NaN,Original
...,...,...,...,...,...,...,...,...,...,...,...
13436324,3019924,E chaffeensis Ab Ser-aCnc,Measurement,LOINC,Lab Test,S,13195-3,19700101,20991231,NaN,Synonym
13436325,3019929,Androsterone 24h Ur-sRate,Measurement,LOINC,Lab Test,S,15030-0,19700101,20991231,NaN,Synonym
13436326,3019929,1 day; 24 hours; 24HR; Androster; Chemistry; Q...,Measurement,LOINC,Lab Test,S,15030-0,19700101,20991231,NaN,Synonym
13436327,3019939,Arm; c; Contr; Contra; Contrst; Document; Elbo...,Procedure,LOINC,Clinical Observation,S,26194-1,19700101,20991231,NaN,Synonym
13436328,3019939,MR Elbow-L WO+W contr IV,Procedure,LOINC,Clinical Observation,S,26194-1,19700101,20991231,NaN,Synonym

In [23]:
final_df[final_df['concept_id'] == 3019955]

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason,name_type
1907050,3019955,Carbon dioxide [Partial pressure] in Blood Pos...,Measurement,LOINC,Clinical Observation,S,19886-1,19700101,20991231,NaN,Original
9922361,3019955,pCO2 Bld Postductal TcCo2,Measurement,LOINC,Clinical Observation,S,19886-1,19700101,20991231,NaN,Synonym
9922362,3019955,Bld Postductal; Bld.foot; BldA.foot; Blood; Ca...,Measurement,LOINC,Clinical Observation,S,19886-1,19700101,20991231,NaN,Synonym

In [26]:
final_df.to_csv('/Users/rose/omop-mapper/data/omop-cdm/CONCEPT_SMALL.csv', sep='\t', index=False)